.hlogo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    width: 100%;
    padding: 10px;
}
.hlogo h1{
    font-size: 50px;
    letter-spacing: 3px;
}
.filogo{
    width: 100px;
    height: 100px;
    
}

header ul{
    display:flex;
    flex-direction: row;
    font-size: 14px;
}

li{
    list-style-type: none;
    margin-right: 30px;
    padding:10px;
   
}
li button{
    padding:5px;
    border:5px solid lime;
    background-color: lightblue;
    font-weight: bold;
    letter-spacing: 3px;
}
li button:hover{
    opacity: 0.8;
    background-color: lightgreen;
}


.car-cont{
    padding: 30px;
    background-image: linear-gradient(#0bab64,#3bb78f);
    border: 3px solid black;

}
.carousel{
    width:740px !important; 
    height:500px !important;
    display: inline!important;
}
.carousel-inner {
    position: relative;
    left: 25%;
    width: 640px!important;
   
}
.carousel-item{
  width: 740px !important;
}
.carousel-item img{
    height: 400px!important;
    width: 600px !important;
    border: 3px solid black;
    padding: 5px;
}
.carousel-caption {
    position: absolute;
    right: 30%!important;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: slateblue!important;
    text-align: center;
    font-size: 16px!important;
    font-weight: bolder !important;
    letter-spacing: 2px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width:1px;
   
}
.carousel-indicators {
    position: relative!important; 
   
    
}

.carousel-control-next {
    right: 12%!important;
}