.stcont{
    padding: bottom 50px !important;
    width: 988px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    border: 20px solid black;
    background-color: lightgreen;
    border-top-color:forestgreen;
    border-bottom-color:forestgreen;
    border-left-color:mistyrose;
    border-right-color:mistyrose;
    border-radius: 50px;
   
    
}

.sthead h1{
    text-align: center;
    margin-top: 2px;
    -webkit-text-stroke-color:olivedrab;
    -webkit-text-stroke-width:2px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.sett{
    width: 250px;
    display: inline-block;
    vertical-align: top;
    background-color: lightgreen;
}
.content{
    width: 600px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid black;
    padding:40px;
    box-sizing: border-box;
    background-color: linen;
    font-family: cursive;
    font-weight: bold;
}
.frow{
    padding: 0 0 20px;
    vertical-align: baseline;
    padding-bottom: 25px;
}
.slabel{
    
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    color:gray;
    padding-top: 5px;
    display: inline-block;
    align-items: center;
   letter-spacing: 3px;
}
.lhelp{
    line-height: 15px;
    font-size: 12px;
    padding-top: 3px;
    display: inline-block;
}
.sinp{
    padding: 6px 7px 7px;
    color: #7a7d85;
    border: 1px #b5b6ba solid;
    margin-left: 10px;
   width: 100%;
    box-sizing: border-box;
    margin: 0;
    
}
.sul{
    padding-top: 10px!important;
    list-style-type: disc;
    margin-bottom: 20px;
}

.sett ul li a{
    color: grey !important;
    font-weight: bold;

    
}
.sett ul li a :visited{
    font-weight: bold!important;
    color: black !important;
}
#savebtn{
    background-color: #1dbf73;
    font-weight: 700;
    color: #fff!important;
    border: 1px solid #1dbf73;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    position: relative;
    left:75%;
    
}
#disbtn{
    position: relative;
    left:70%;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-top: 10px;
    border: 1px solid black;
    color:gray;
    
   
}