#ftcont{
    text-align: justify;
    background-color: lightgreen;
    letter-spacing: 3px;
    border:5px solid black;
    padding: 20px;
    justify-content: space-evenly;
    line-height: 30px;
}

.sftcont{
    border: 20px solid black;
    padding:30px;
    border-top-color:lawngreen;
    border-bottom-color:lawngreen;
    border-left-color:white;
    border-right-color:white;
    border-radius: 100px;
}
.sftcont h1{
    -webkit-text-stroke-color:seagreen;
    -webkit-text-stroke-width:2px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;

}
.htos{
    text-decoration: underline;
    background-color: lime;
    display: inline;
    
   
}